<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>Label</key>
        <string>getweather</string>
        <key>Program</key>
        <string>/path/to/getweather.sh</string>
        <key>RunAtLoad</key>
        <true/>
        <key>StartInterval</key>
        <integer>120</integer>
        <key>StandardOutPath</key>
        <string>/tmp/weather-output.txt</string>
        <key>StandardErrorPath</key>
        <string>/tmp/weather-errors.txt</string>
    </dict>
</plist>
